body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: unset;
}

div.middle {
  flex-grow:1;
}

div.nav0 {
  padding: 8px 8px 8px 8px;
}

table {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
  font-family: monospace;
}

table>tbody>tr>td:first-child {
  text-align: right;
}

table input, table select, table textarea {
  width: 100%;
  min-width: 400px;
}

.nav input {
  width: 75px;
  text-align: right;
  font-size: medium;
}

.nav button {
  height: 24px;
  padding-left: 5px;
  padding-right: 5px;
  vertical-align: bottom;
  font-family: initial;
}

.filter {
  float: right;
  display: none;
}

.filter input {
  width: 200px;
}

table input[type="number"] {
  text-align: right;
}

table input[type="checkbox"] {
  width: auto;
}

.changed {
  font-weight: bold;
}

.action {
  display:flex;
  width:100%;
  justify-content: space-between;
  padding-bottom: 8px;
  padding-top: 8px;
}

.action button {
  padding: 5px 5px 5px 5px;
  margin-left: 8px;
  margin-right: 8px;
}
