.table-editor {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0px 0px 0px 0px;
  overflow: hidden;
  background-color:white;
}

.table-editor table {
  width: fit-content;
}

.table-editor table {
  border-collapse: collapse;
  font-size: 12px;
}

.table-editor table td, .table-editor table th {
  border: solid 1px lightgray;
  padding-left: 4px;
  padding-right: 4px;
}

.table-editor-data table>thead>tr>th:first-child {
  min-width: 50px;
}

.table-editor-viewport table .typeinfo {
  font-weight: lighter;
  font-size: 10px;
  padding-top: 2px;
  text-transform: lowercase;
  text-align: left;
}

.table-editor-viewport .error {
  color: red;
}

.table-editor-viewport table .error {
  text-align: left;
}

.table-editor-viewport table .number, .table-editor-viewport table .date {
  text-align: right;
}

.table-editor-header {
  margin-top: 4px;
  margin-left: 4px;
  padding-right: 16.5px;
  position: relative;
}

.table-editor-viewport {
  margin-left: 4px;
  flex-grow: 1;
  overflow: auto;
}

.table-editor-data  {
  position: relative;
}

.table-editor-viewport table td {
  overflow: auto;
  white-space: nowrap;
  background-color: white;
  line-height: 0;
  min-height:13.333px;
}

.table-editor-viewport table td:first-child {
  height: 16px;
  overflow: hidden;
}

.table-editor-viewport table td.focus {
  position: absolute;
  line-height: unset;
  left: auto;
  margin-left: -1px;
  margin-top: -1px;
  z-index: 10;
}

.table-editor-viewport table.insert td.focus {
  position: static;
  margin: initial;
}

.table-editor-viewport a.save {
  visibility: hidden;
  cursor: pointer;
  color: green;
  position:relative;
  margin-right: 18px;
}

.table-editor-viewport a.save img {
  height: 18px;
  width: 18px;
  position: absolute;
  top: -3px;
}

.table-editor-viewport a.cancel {
  visibility: hidden;
  cursor: pointer;
}

.table-editor-viewport a.delete {
  cursor: pointer;
}

.table-editor-viewport table tr.todelete>td+td {
  text-decoration: line-through;
  color: red !important;
}

.table-editor-viewport table tr.todelete a.save, .table-editor-viewport table tr.todelete a.cancel {
  visibility: visible;
}

.table-editor-viewport table tr.tosave a.save, .table-editor-viewport table tr.tosave a.cancel {
  visibility: visible;
}

.table-editor-viewport table td.changed {
  color: darkblue;
}

.table-editor-viewport table.insert {
  z-index: 1;
  border-bottom: solid 2px lightgray;
}

.table-editor-viewport table.insert td {
  line-height: unset;
}

.table-editor-viewport .sqlerror {
  position: absolute;
  left: 54px;
  background-color: white;
  z-index: 1;
  border: solid 1px black;
  height: 10px;
  margin-top: -11px;
  padding-top: 10px;
  padding-left: 4px;
  padding-right: 4px;
  cursor: pointer;
  color: red;
}

.table-editor-viewport .insert .sqlerror {
  margin-top: -19px;
    padding-top: 3px;
    height: 16px;
}